/* Fonts */

@font-face {
font-family: klinc;
src: url("../fonts/KlinicSlabLight.otf") format("opentype");
}

@font-face {
font-family: Vincent;
src: url("../fonts/Vincent-Regular.otf") format("opentype");
}

body {
	/*background-color: rgba(20, 20, 20, .70000);*/
	background-image: url(../images/arches.png);

}

::-webkit-scrollbar{    
    display: none;    
    width: 0 !important;    
}

/* Navigation Bar */

.head_nav {
	min-height: 40px;
	padding-top: 10px;
}

.head_nav h1 {
	font-family: Vincent;
	font-size: 3.5em;
}

.links {
	margin-top: 3px;
}

.nav_button {
	font-family: Vincent;
	border: .1em solid white;
	height: 3.6em;
	/*width: 5.8em;*/
	margin: 0;
	font-size: 1em;
	background-color: black;
	color: white;
}

.small_buttons_nav {
	font-size: .8em;
}

button:focus {
	outline: none;
}

/* Background Image */

.wrapper {
	background-image: url("../austin.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
	/*opacity: .1;*/
}

/* Container for holding results */

.container {
	overflow:hidden;
	padding: 0;
	/*background-color: rgba(20, 20, 20, .80000);*/
	max-height: 575px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Container for large results */

.content {
	min-height: 400px;
}

.small_content {
	min-height: 300px;
	max-height: 375px;
}

/* Font and size format for large and small items */

.large_item, .small_item {
	background-color: rgba(255, 255, 255, .8800);
	border-top: 1px solid #d0d0d0;
}

h1 {
	font-family: 'lato', sans-serif;
	margin: 0;
	font-size: 2.1em;
}

#small_header {
	font-size: 2.75em;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

	/* Boxes in large content*/

	.box {
		text-align: center;
		color: white;
		background-color: rgba(0, 0, 0, .8000);
		width: 100%;
		height: 100%;
		font-size: 1.3em;
		font-family: Vincent;
		padding-top: .1em;
	}

	.box_border {
		margin-top: 5px;
		margin-left: .4em;
		margin-right: .4em;
		border: 3px solid black;
		height: 35%;
		width: 47%;
		padding: 3px;
	}

	.avbl_box {
		float: left;
	}

	.rtrn_box {
		float: right;
	}

	/* Items */

	.fadeClass {
		background-color: red;
	}

	/* Format for large items */

	.large_item {
		height: 115px;
	}

	.item_header {
		height: 50%;
		width: 100%;
		/*border-bottom: 1px dashed grey;*/
		text-align: center;
		padding-top: 5px;
	}

	/* Format for small items */

	.small_item {
		font-family: 'Lato', sans-serif;
		padding-left: 1.5em;
		min-height: 75px;
	}
	.small_head {
		
		font-size: 2em;
	}

	.small_status {
		font-size: 1.2em;
	}

/* Footer style */

.footer {
	font-family: 'lato', sans-serif;
	font-size: .9em;
	text-align: right;
}

/* Style for status*/

.open_slots {
	background-color: rgba(109, 173, 61, .83000);
}

.no_slots {
	background-color: rgba(186, 56, 57, .88000);
}

.open_slots_small {
	color: rgba(109, 173, 61, 1);
}

.no_slots_small {
	color: rgba(186, 56, 57, 1);
}

/* Style for templates */

.template {
	display: none;
}

